@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Poppins');

*,body {
   margin:0; 
   padding:0;
}
body,html{
    height:100%;
    width:100%;
}
main{
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:inherit;    
}

h1{
    text-align:center;
    background-color:#0a4c97;
    color:#fff;
    font-family:'Poppins';
    flex:1;
}

.row{
    background-color:#0d0e0f;
    flex:5;
}
.row:nth-child(2n+1){
    background-color: #656b73;
}
.row ul{
    display:flex;
    justify-content:space-evenly;
    list-style-type:none;
    align-items:center;
    height:70%;     /**posicion*****/
    color:#fff;
}
/****************efecto de los botones***************/

#yokeissa ul li a{
    display:block;
    position:relative;
    width:60px;
    height:60px;
    background-color:#f1f1f1;
    text-align:center;
    border-radius:50%;  
    padding:6px;  
    box-sizing:border-box;
    text-decoration:none;
    box-shadow:0 10px 15px rgba(0,0,0,0.3);
    -webkit-box-shadow:0 10px 15px rgba(0,0,0,0.3);
    -moz-box-shadow:0 10px 15px rgba(0,0,0,0.3);  
    -o-box-shadow:0 10px 15px rgba(0,0,0,0.3);
    background: -webkit-linear-gradient(0deg,#ccc,#fff);
    background: -moz-linear-gradient(0deg,#ccc,#fff);
    background: -o-linear-gradient(0deg,#ccc,#fff); 
    transition:.5s;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
}
#yokeissa ul li a:hover{
    box-shadow:0 2px 5px rgba(0,0,0,.3);
    -webkit-box-shadow:0 2px 5px rgba(0,0,0,.3);
    -moz-box-shadow:0 2px 5px rgba(0,0,0,.3);
    -o-box-shadow:0 2px 5px rgba(0,0,0,.3);
    cursor:pointer;
}
#yokeissa ul li a .fa{
    width:100%;
    height:100%;
    display:block;
    border-radius:50%;
    line-height:calc(60px - 12px);
    font-size:28px;
    background: -webkit-linear-gradient(0deg,#ccc,#fff);  
    background: -moz-linear-gradient(0deg,#ccc,#fff);  
    background: -o-linear-gradient(0deg,#ccc,#fff);  
    color:#262626;
    transition:.5s;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
}
#yokeissa ul li:nth-child(1) a:hover .fa{
    color:#3b5999;
    background: -webkit-linear-gradient(0deg,#fff,#ddd); 
    background: -moz-linear-gradient(0deg,#fff,#ddd);
    background: -o-linear-gradient(0deg,#fff,#ddd);  
}
#yokeissa ul li:nth-child(2) a:hover .fa{
    color:#dd4b39;
   background: -webkit-linear-gradient(0deg,#fff,#ddd); 
    background: -moz-linear-gradient(0deg,#fff,#ddd);
    background: -o-linear-gradient(0deg,#fff,#ddd);  
}

#yokeissa ul li:nth-child(3) a:hover .fa{
    color:#e4405f;
    background: -webkit-linear-gradient(0deg,#fff,#ddd); 
    background: -moz-linear-gradient(0deg,#fff,#ddd);
    background: -o-linear-gradient(0deg,#fff,#ddd);  
}

#yokeissa ul li:nth-child(4) a:hover .fa{
    background:-webkit-linear-gradient(0deg,#fff,#ddd); 
    background:-moz-linear-gradient(0deg,#fff,#ddd);
    background:-o-linear-gradient(0deg,#fff,#ddd);  
    color:#55acee;
}

#yokeissa ul li:nth-child(5) a:hover .fa{
    background: -webkit-linear-gradient(0deg,#fff,#ddd); 
    background: -moz-linear-gradient(0deg,#fff,#ddd);
    background:-o-linear-gradient(0deg,#fff,#ddd);  
    color:#007bb5;
}   




