html, body{
    margin: 0;
    padding: 0;
    background-color: #a52a2a;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    font-family: 'Arimo', sans-serif;
}

svg{
    position: absolute;
    width: 200px;
    height: 200px;
    left: calc(50% - 100px);
    
}

.progress-ring{
    transform: scale(1.5);
}

.progress-ring__circle{
    transition: 0.35s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

#timeOutput{
    letter-spacing: 0.15em;
}

input{
    position: fixed;
    top: 10px;
    left: 10px;
    width: 80px;
}

#footer{
    position: fixed;
    color: #ffffff;
    padding-top: 3px;
    font-size: 10px;
    text-align: right;
    right: 0;
    bottom: 0;
}

#footer > p{
    display: inline;
}

a{
    color: #ffffff;
}